{
  "presets": [
    "es2015",
    "stage-2"
  ],
  "env": {
    "umd": {
      "presets": [
        "minify"
      ],
      "plugins": [
        [
          "transform-es2015-modules-umd",
          {
            "globals": {
              "index": "rhh",
              "react": "React"
            },
            "exactGlobals": true
          }
        ]
      ]
    }
  }
}
