---
  extends: airbnb
  env:
    node: true
    mocha: true
    browser: true
  parserOptions:
    ecmaFeatures:
      experimentalObjectRestSpread: true
  rules:
    max-len: 1
    comma-dangle: 0
    array-bracket-spacing:
      - error
      - always
    padded-blocks: 0
    no-multi-spaces:
      - error
      -
        exceptions:
          VariableDeclarator: true
          ImportDeclaration: true
          Property: true
